* {
    box-sizing: content-box;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-100%);
	}

	25%,
	55%,
	// 75%,

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0%);
	}
}

body {
    background: url("../images/background/4028065.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;

}

.header {
    margin: 1rem auto;
    padding:1rem;
    width: 80vw;
    min-width: max-content;
    background-color: rgba(245, 245, 245, 0.84);
    border-radius: var(--border-radius-xl);
    filter: drop-shadow(3px 2px 2px rgba(0, 0, 0, 0.219));
    
    &__title {
        font-family: var(--font-family-main);
        margin: 1rem auto;
        width: fit-content;

    };
    &__subtitle {
        font-family: var(--font-family-alt);
        font-size: 1.2rem;
        margin: auto;
        width: fit-content;

    }
};

.main {
    margin: 0 auto 2rem;
    width: 85vw;
    height:fit-content;
    padding: 0.5rem;
    animation: myAnim 2s ease 0s 1 normal forwards;
    backdrop-filter: blur(5px);
    
    &__section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem;
        background-color: rgba(250, 250, 250, 0.804);
        border-radius: var(--border-radius-lg);

        &__form {
            width: 100%;
            height: fit-content; 
        };
    };

    .form__section {
        &--teacher {
            padding-top:1rem;
        };

        &--submit {
            margin:auto;
            width:fit-content;
        }

        &__label, &__field {
            font-family: var(--font-family-main);
            font-weight: 600;
            color: rgba(19, 18, 18, 0.852);
        };

    
        &__field {
            padding: 0.3rem 0 0.2rem;
            line-height: 1;
            margin-block: 0em;
            margin: 0.9rem 0 0.2rem;

        };

        &__radio {
            
            font-family: var(--font-family-main);
            font-weight: 400;

        };

        &__input {
            margin: 0.2rem 0;

            &--text {
                font-family: var(--font-family-alt);
                border: 1px solid var(--border-color-translucent);
                border-radius: var(--border-radius-sm);
                line-height: 1;
                padding-left: 5px;

                &::placeholder {
                    font-family: var(--font-family-alt);
                    color: var(--gray-400)
                }

            };
        

            &--radio {
                padding-left: 2rem;

            };
        };


    };

};


#submit {
    
    font-size:1rem;
    font-family:var(--font-family-main);
    width: fit-content;
    height:fit-content;
    padding: 0.5rem 0.5rem 0;
    margin: 1rem auto;
    justify-content: center;
    border-width:1px;
    color:#777777;
    border-color:#dcdcdc;
    font-weight: 700;
    border-radius: var(--border-radius-main);
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    text-shadow:inset 0px 1px 0px #ffffff;
    background:linear-gradient(#ededed, #dfdfdf);
    &:hover {
        background: linear-gradient(#dfdfdf, #ededed);
    };
}

// Answer page

.answer {
    margin: auto;

    &__title {
        font-family: var(--font-family-main);
        font-size: 2rem;
        line-height: 1;
        text-align: center;
        margin: 2rem auto;
        padding: 1rem 3rem 0.6rem;
        width: fit-content;
        max-width:90vw;
        filter: drop-shadow(2px 1px 2px rgba(99, 99, 99, 0.251));
        min-width: max-content;
        background-color: rgba(245, 245, 245, 0.84);
        border-radius: var(--border-radius-main);

        @include for-phone {    
                   font-size: 1rem; 
                };

    };

    &__section {
        width: fit-content;
        margin: 1rem;
        padding: 1rem 1.3rem;
        background-color: rgba(250, 250, 250, 0.804);
        border-radius: var(--border-radius-lg);
        animation: myAnim 2s ease 0s 1 normal forwards;
        backdrop-filter: blur(5px);

        &__text {
            font-family: var(--font-family-stock)
        }

    };
};
